$irm-primary: (
    50 : #eeeffe,
    100 : #d5d8fc,
    200 : #b9befa,
    300 : #9ca3f8,
    400 : #8790f7,
    500 : #727cf5,
    600 : #6a74f4,
    700 : #5f69f2,
    800 : #555ff0,
    900 : #424cee,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #d9dbff,
    A700 : #bfc3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$irm-accent: (
    50 : #fff7e7,
    100 : #ffebc3,
    200 : #ffdd9c,
    300 : #ffcf74,
    400 : #ffc556,
    500 : #ffbb38,
    600 : #ffb532,
    700 : #ffac2b,
    800 : #ffa424,
    900 : #ff9617,
    A100 : #ffffff,
    A200 : #fffefc,
    A400 : #ffe5c9,
    A700 : #ffd9b0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$irm-warn: (
  50 : #fde1e1,
  100 : #e6b3b3,
  200 : #d68080,
  300 : #c64d4d,
  400 : #b92626,
  500 : #ad0000,
  600 : #a60000,
  700 : #9c0000,
  800 : #930000,
  900 : #830000,
  A100 : #ffb0b0,
  A200 : #FF386A,
  A400 : #F14336,
  A700 : #ff3030,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$irm-success: (
    50 : #e7f8f2,
    100 : #c2eddd,
    200 : #9ae1c7,
    300 : #71d5b1,
    400 : #52cca0,
    500 : #34c38f,
    600 : #2fbd87,
    700 : #27b57c,
    800 : #21ae72,
    900 : #15a160,
    A100 : #d4ffe9,
    A200 : #a1ffd0,
    A400 : #6effb7,
    A700 : #54ffaa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
